body{
//background-color: black;
}

h1{
//color: white;
}

.cuadrado{
border: solid black;
background-color: red;
height: 3rem;
width: 3rem;
}

.circulo{
border: solid black;
background-color: red;
height: 3rem;
width: 3rem;
border-radius: 2rem;
}


